@model ImpactWebsite.Models.OrderModels.Promotion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Promotion</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PromotionName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PromotionName" class="form-control" />
                <span asp-validation-for="PromotionName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PromotionCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PromotionCode" class="form-control" />
                <span asp-validation-for="PromotionCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiscountRate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiscountRate" class="form-control" />
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateFrom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateTo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsActive" checked="checked" />
                    <label asp-for="IsActive"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

