@model ImpactWebsite.Models.Module

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Module</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ModuleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModuleName" class="form-control" />
                <span asp-validation-for="ModuleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModuleUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModuleUrl" class="form-control" />
                <span asp-validation-for="ModuleUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryDays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeliveryDays" class="form-control" />
                <span asp-validation-for="DeliveryDays" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitPriceId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UnitPriceId" class="form-control" />
                <span asp-validation-for="UnitPriceId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

