@using Microsoft.Extensions.Options
@model IEnumerable<ImpactWebsite.Models.BillingModels.BillingDetailViewModel>


@{
    ViewData["Title"] = "PaymentDone";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Charge</h2>

<h2>You successfully paid <strong></strong></h2>

