@{
    ViewData["Title"] = "Home Page";
}

<div class="btnAnalysis" style="text-align: center">
    <a class="btn btn-primary btn-lg" id="Test" type="submit" asp-controller="Order" asp-action="Index">
        Start Analysis
    </a>
    
    <div style="font-size: 0.3em; text-align: left; margin-left: 35%; margin-top: 20%;">

        <table border="1">
            <tr>
                <th colspan="2" style="text-align:center;">Request News Letter?</th>
            </tr>
            <tr>
                <td>Email Address</td>
                <td><input /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input /></td>
            </tr>
            <tr>
                <td>Compnay Name</td>
                <td><input /></td>
            </tr>
        </table>
    </div>
</div>

