@model ImpactWebsite.Models.NewsLetterUser

@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Index">
    <div class="btnAnalysis">
        <a class="btn btn-primary btn-lg" id="Test" asp-controller="Order" asp-action="Index">
            Start Analysis
        </a>
        <div style="font-size: 0.3em; text-align: left; margin-left: 35%; margin-top: 15%;">
            <table>
                <tr>
                    <th colspan="3" style="text-align:center;">Request News Letter?</th>
                </tr>
                <tr>
                    <td><label asp-for="Email" class="control-label col-md-2"></label></td>
                    <td><input id="email" asp-for="Email" class="form-control" /></td>
                    <td>
                        <input style="margin: auto; margin-left: 20px; margin-right: 20px;" type="submit" value="Request" class="btn btn-primary btn-lg" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</form>

<div id="box" class=""></div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />

    @if (@ViewData["status"].Equals("success")) {
        <script>
            var msg = $('#email').val();
            $(document).ready(function () {
                $('#box').dialog({
                    autoOpen: true,
                    position: { my: "top", at: "top+150", of: window },
                    open: function () {
                        var markup = msg + ' is Successfully added!';
                        $(this).html(markup);
                    },
                    title: 'Message',
                    width: 300,
                    height: 150,
                    resizable: false,
                    modal: true,
                    show: {                
                        effect: "blind",
                        duration: 100
                    },
                });
                $('#email').val('')
            });
        </script>
    }
}


