
@using Microsoft.Extensions.Options
@using ImpactWebsite.Models
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Charge";
}


<form action="/Charge/Charge" method="POST">
    <article>
        <label>Amount: $@ViewData["amount"]</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>
