@model ImpactWebsite.Models.OrderModels.OrderHeader

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>OrderHeader</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OrderNum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderNum" class="form-control" />
                <span asp-validation-for="OrderNum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalesRep" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SalesRep" class="form-control" />
                <span asp-validation-for="SalesRep" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderedDate" class="form-control" />
                <span asp-validation-for="OrderedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeliveredDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeliveredDate" class="form-control" />
                <span asp-validation-for="DeliveredDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OrderStatus" class="form-control"></select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoteFromUser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NoteFromUser" class="form-control" />
                <span asp-validation-for="NoteFromUser" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoteFromAdmin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NoteFromAdmin" class="form-control" />
                <span asp-validation-for="NoteFromAdmin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderLineId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderLineId" class="form-control" />
                <span asp-validation-for="OrderLineId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

