@model Promotion
@using ImpactWebsite.Models.OrderModels
@{
    ViewData["Title"] = "Investment";
}

<form id="form" asp-action="SubmitPromoCode" asp-controller="Order" method="post" role="form">
    <div style="width: 350px; margin-left: 10px; margin-top: 20px;">
        <div style="width: 250px; float: left;">
            <input asp-for="PromotionCode" class="form-control" />
            <span asp-validation-for="PromotionCode" class="text-danger"></span>
        </div>
        <input style="width: 90px; margin-left: 10px; " type="submit" value="Apply" class="btn btn-primary" />
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#form').on('submit', function (e) {
        e.preventDefault();
        if ($(this).valid()) { // This checks if the form is valid
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success == false) {
                        alert('Promotion Code is not matched!, Please try again');
                    } else {
                        window.location = 'NewOrder';
                    }
                },
            });
        };

    });

</script>