
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* MVC Website */
.btnAnalysis {
    padding-top: 10%;
    height: 700px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 100px;
}

.input-symbol-can {
    position: relative;
}

    .input-symbol-can input {
        padding-left: 15px;
    }

    .input-symbol-can:before {
        position: absolute;
        top: -2px;
        content: "$";
        left: 5px;
    }




/* 
    Change default font to Raleway 
    Purpose to display consistent looks with 
    the main website of fairbank financial 
*/
body {
    font-family: Raleway,sans-serif;
    padding-top: 60px;
    padding-bottom: 20px;
}

.mainpage-image {
    background-image: url(../images/landing_page.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 75vh;
}

/* 
    Overlay the image of main page for lowering opacity of the image 
    It will be effective if the image is changed.
*/
.overlay-bg {
    width: 100%;
    height: 80%;
    position: absolute;
    background: #fff;
    opacity: 0.30;
}

/* Add style and smooth animation */
.logo-wrapper a {
    color: #262626;
    font-family: Raleway,sans-serif;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* change color on hover action */
.logo-wrapper .navbar-brand:hover {
    color: #2bc1c5;
}

/* Styling for main navigation bar */
.main-nav {
    margin: 0;
    padding: 0;
}

    .main-nav li {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .main-nav li a, .main-nav li button {
            color: #262626;
            text-transform: uppercase;
            font-family: Raleway,sans-serif;
            font-size: 13px;
            font-weight: 500;
        }

            .main-nav li button:hover,
            .main-nav li a:hover {
                color: #2bc1c5 !important;
                text-decoration: none;
            }

.active {
    color: #2bc1c5 !important
}

footer {
    text-align: center;
}

/* Styling for the caption texts on the main page */
.header__carousel--caption {
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -115px 0 0 -380px;
    width: 100%;
    max-width: 760px;
    padding: 25px 25px;
    text-align: center;
}

    .header__carousel--caption .header__slider--cta {
        background-color: rgba(0,0,0,.7);
    }

        .header__carousel--caption .header__slider--cta:hover {
            background-color: #2bc1c5;
        }

.header__slider--subtitle {
    font-family: Raleway,sans-serif;
    font-size: 20px;
    color: #262626;
    line-height: 38px;
}

.header__slider--text {
    font-family: Raleway,sans-serif;
    font-size: 30px;
    color: #262626;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 15px 0 50px;
}

.header__slider--cta {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Raleway,sans-serif;
    padding: 14px 34px;
    background-color: hsla(0,0%,6%,.5);
    border: 2px solid #2bc1c5;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    position: relative
}

    .header__slider--cta:hover {
        background-color: #2bc1c5;
        text-decoration: none;
        color: #fff
    }

/* Button style */
.arrow-left {
    right: 0;
    border-right: 5px solid #2bc1c5;
    z-index: 2
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent
}

.arrow-right {
    left: 0;
    border-left: 5px solid #2bc1c5
}

/* A variation of button style with newsletter button */
.newsletter-btn {
    margin-left: 40px;
    margin-right: 20px;
    background-color: hsla(0,0%,6%,.5);
}
    .newsletter-btn:hover {
        background-color: #2bc1c5;
        text-decoration: none;
        color: #fff
    }

/* A variation of button style with buttons on new order page */
.neworder-btn {
    font-size: 14px !important;
    padding: 15px 25px !important;
    display: block;
    margin: 50px 20px 0px 20px;
}

/* A main button style */
.impact-btn {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Raleway,sans-serif;
    padding: 8px 20px;
    background-color: #333333;
    border: 2px solid #2bc1c5;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    position: relative;
}

    .impact-btn:hover {
        background-color: #2bc1c5;
        text-decoration: none;
        color: #fff
    }


.newsletter-input {
    margin-left: 20px;
    margin-right: 20px;
}


.newsletter-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-text {
    margin-top: 50px;
    font-family: Raleway,sans-serif;
    font-size: 20px;
    color: #262626;
    line-height: 38px;
}

/* For responsive design */
@media all and (max-width:1150px) {
    nav {
        padding: 5px 15px
    }
}

/* For responsive design for main navigation */
@media all and (max-width:1050px) {
    .main-nav li {
        display: block;
        text-align: center;
        padding: 0
    }
        .main-nav li a {
            display: block;
            font-size: 16px;
            padding: 10px 0
        }
            .main-nav li a:hover {
                background-color: #f3f3f3
            }

        .main-nav li:first-child {
            margin: 10px 0 0
        }
}

@media all and (min-width:1051px) {
    .main-nav {
        display: block !important
    }
}

/* For responsive design for main text */
@media all and (max-width:900px) {
    .header__carousel--caption {
        left: auto;
        max-width: none;
        font-size: 10px;
    }
}

@media all and (max-width:600px) {
    .item-mask {
        background-color: hsla(0,0%,100%,.3)
    }

    .header__carousel--caption {
        margin: -140px 0 0
    }

    .header__slider--subtitle {
        font-size: 15px;
    }

    .newsletter-text {
        font-size: 15px;
    }

    .header__slider--text {
        font-size: 25px
    }
}
